@using CompanyG03PL.ViewModels
@model UserViewModel

<div class="form-group">
    <label asp-for="@Model.Id" class="col-form-label">Id</label>
    <input asp-for="@Model.Id" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.FirstName" class="col-form-label">FirstName</label>
    <input asp-for="@Model.FirstName" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.LastName" class="col-form-label">LastName</label>
    <input asp-for="@Model.LastName" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.Email" class="col-form-label">Email</label>
    <input asp-for="@Model.Email" class="form-control" readonly />
</div>
