@model Employee

<div class="form-group">
    <label asp-for="@Model.Name" class="col-form-label">Name</label>
    <input asp-for="@Model.Name" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.Age" class="col-form-label">Age</label>
    <input asp-for="@Model.Age" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.Email" class="col-form-label">Email</label>
    <input asp-for="@Model.Email" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.PhoneNumber" class="col-form-label">Phone Number</label>
    <input asp-for="@Model.PhoneNumber" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.Salary" class="col-form-label">Salary</label>
    <input asp-for="@Model.Salary" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="@Model.Address" class="col-form-label">Address</label>
    <input asp-for="@Model.Address" class="form-control" readonly />

</div>
<div class="form-group">
    <label asp-for="@Model.IsActive" class="form-check">Is Active</label>
    <input asp-for="@Model.IsActive" class="form-check" readonly />

</div>

<div class="form-group">
    <label asp-for="@Model.HireDate" class="col-form-label">Hiring Date</label>
    <input asp-for="@Model.HireDate" class="form-control" readonly />

</div>
